@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@700&display=swap');
@import "compass/css3";
html {
    font-family: 'Passion One';
}

body {
    color: white;
    background-color: black;
    backface-visibility: hidden;
    color: transparent;
}

section {
    width: 100vw;
    height: 100vh;
}


/*Sektion 1 (1 Zeile)*/

.sec1 {
    text-align: center;
    top: 50%;
    animation: btrans 4s 3s 1 normal forwards;
    background-color: rgb(248, 87, 119);
}

div {
    font-family: 'Passion One';
    color: white;
}


/*Colorchange)*/

@keyframes btrans {
    from {
        background-color: rgb(248, 87, 119);
    }
    to {
        background-color: black;
    }
}


/*Grid*/

.container {
    transform: translateY(-50vh);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 3fr 1fr 3fr;
}

span {
    font-family: 'passion one';
}


/*LOVE*/

.LOVE {
    transform: translateY(20vh);
    display: inline-block;
    text-shadow: 0 0 0 whitesmoke;
    animation: smoky 4s 3s both;
    font-size: 20vw;
}

span:nth-child(even) {
    animation-name: smoky-mirror;
}

@keyframes smoky {
    60% {
        text-shadow: 0 0 40px whitesmoke;
    }
    to {
        transform: translate3d(15rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(0.6);
        text-shadow: 0 0 20px whitesmoke;
        opacity: 0;
    }
}

@keyframes smoky-mirror {
    60% {
        text-shadow: 0 0 40px whitesmoke;
    }
    to {
        transform: translate3d(18rem, -8rem, 0) rotate(-40deg) skewX(70deg) scale(0.4);
        text-shadow: 0 0 20px whitesmoke;
        opacity: 0;
    }
}

span:nth-of-type(1) {
    animation-delay: 3.1s;
}

span:nth-of-type(2) {
    animation-delay: 3.2s;
}

span:nth-of-type(3) {
    animation-delay: 3.3s;
}

span:nth-of-type(4) {
    animation-delay: 3.4s;
}

span:nth-of-type(5) {
    animation-delay: 3.5s;
}

span:nth-of-type(6) {
    animation-delay: 3.6s;
}

span:nth-of-type(7) {
    animation-delay: 3.7s;
}

span:nth-of-type(8) {
    animation-delay: 3.8s;
}

span:nth-of-type(9) {
    animation-delay: 3.9s;
}

span:nth-of-type(10) {
    animation-delay: 4s;
}

span:nth-of-type(11) {
    animation-delay: 4.1s;
}

span:nth-of-type(12) {
    animation-delay: 4.2s;
}

span:nth-of-type(13) {
    animation-delay: 4.3s;
}

span:nth-of-type(14) {
    animation-delay: 4.4s;
}

span:nth-of-type(15) {
    animation-delay: 4.5s;
}

span:nth-of-type(16) {
    animation-delay: 4.6s;
}

span:nth-of-type(17) {
    animation-delay: 4.7s;
}

span:nth-of-type(18) {
    animation-delay: 4.8s;
}

span:nth-of-type(19) {
    animation-delay: 4.9s;
}

span:nth-of-type(20) {
    animation-delay: 5s;
}

span:nth-of-type(21) {
    animation-delay: 5.1s;
}

@keyframes smoky-mirror {
    60% {
        text-shadow: 0 0 100px whitesmoke;
    }
    to {
        transform: translate3d(20rem, -10rem, 0) rotate(40deg) skewX(-70deg) scale(0.2);
        text-shadow: 0 0 20px whitesmoke;
        opacity: 0;
    }
}

.b {
    font-size: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-row: 2/3;
    grid-column: 2/6;
    opacity: 0;
    animation: visb 1s;
    animation-delay: 6s;
    animation-fill-mode: forwards;
}

@keyframes visb {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.c {
    display: flex;
    justify-content: end;
    font-size: 15vw;
    grid-column: 5/8;
    grid-row: 3/4;
    opacity: 0;
    animation: visc 0.5s;
    animation-delay: 7.5s;
    animation-fill-mode: forwards;
}

@keyframes visc {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.d {
    z-index: 9;
    text-align: center;
    font-size: 8rem;
}

.d1 {
    text-align: center;
    font-size: 40rem;
    opacity: 0.1;
}

.d2 {
    text-align: center;
    font-size: 20rem;
    opacity: 0.2;
}

.sec2 {
    position: relative;
}

.sec2>div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    width: 100%;
}