@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');
h1 {
    font-family: 'Satisfy';
    color: rgb(121, 121, 168);
}

.snowflake {
    color: blueviolet;
    font-size: 155px;
}

p {
    color: darkred !important;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#wrapper {
    text-align: right;
}